<?xml version="1.0"?>
<configuration>
   
    <configSections>
       <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    </configSections>
    <dataConfiguration defaultDatabase="Cooperatva"/>
    <connectionStrings>
        <add name="RecursosHumanos" connectionString="Data Source=SQLSDFCA5;Initial Catalog=DbRecursosHumanos;Integrated Security=True;"
            providerName="System.Data.SqlClient" />
        <add name="Materiales" connectionString="Data Source=SQLTRFCA6;Initial Catalog=DbMateriales;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Solidarismo" connectionString="Data Source=SQLSDFCA5;Initial Catalog=DbSolidarismo;User ID=solidarismo;Password=$0ci@c!0n"
            providerName="System.Data.SqlClient" />
        <add name="Cooperativa" connectionString="Data Source=SQLSDFCA5;Initial Catalog=DbCooperativa;Integrated Security=True;"
            providerName="System.Data.SqlClient" />
        <add name="Cooperativa.My.MySettings.Solidarismo" connectionString="Data Source=SQLSDFCA5;Initial Catalog=DbSolidarismo;User ID=solidarismo;Password=$0ci@c!0n"
            providerName="System.Data.SqlClient" />
        <add name="Cooperativa.My.MySettings.DbCooperativaConnectionString"
            connectionString="Data Source=SQLSDFCA5;Initial Catalog=DbCooperativa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
